// Configuration
assets-dir = '/assets/'

// Fonts
font-base = 'Raleway'
font-special = 'Josefin Slab'
font-heading = font-base

// Greyscale colors
color-black = #222
color-grey-darker = #666
color-grey-dark = #aaa
color-grey = #ccc
color-grey-light = #efefef
color-grey-lighter = #f5f5f5
color-grey-lightest = #f9f9f9
color-white = #fff

// Primary brand colors
color-brand = #4fc9ec
color-brand-dark = darken(color-brand, 10%)
color-brand-darker = darken(color-brand, 25%)
color-brand-darkest = darken(color-brand, 40%)
color-brand-light = lighten(color-brand, 5%)
color-brand-lighter = lighten(color-brand, 10%)

// Secondary brand color
color-secondary = #405765
color-secondary-dark = darken(color-secondary, 15)
color-secondary-light = lighten(color-secondary, 15)
color-secondary-lighter = lighten(color-secondary, 30)
color-secondary-lightest = lighten(color-secondary, 50)

// Alternate colors
color-alternate = #297771
color-alternate-dark = darken(color-alternate, 15%)
color-alternate-darker = darken(color-alternate, 20%)
color-alternate-light = mix(color-alternate, color-white, 30%)
color-alternate-lighter = mix(color-alternate, color-white, 10%)
color-alternate-lightest = mix(color-alternate, color-white, 5%)

// Basic colors
color-green = #8bc86e
color-blue = #3997e7
color-aqua = #07b9fa
color-red = #e86456
color-orange = #fdce12
color-pink = #ee315d
color-yellow = #fcf49d
color-lightblue = #48d7d9
color-lightred = #ef7575
color-purple = #b85998

palette-colors = {
    green:     #a0d94e
    blue:      #3997e7
    darkblue:  #3168ad
    aqua:      #12d58e
    red:       #e86456
    orange:    #f5c505
    pink:      #ee315d
    yellow:    #fcf49d
    lightblue: #06d3e5
    lightred:  #ef7575
    purple:    #b85998
    black:     #333
}

// Semantic colors
color-success = color-green
color-danger = color-red
color-warning = color-yellow

// Layout colors
color-bg = color-grey-light
color-text = color-black
header-color = color-brand

// Layout sizes
page-size = 1000px

// Breakpoints
breakpoint-mobile = 600px