.match-display
    vertical-rhythm()
    border-radius()
    background #fff
    overflow hidden

    .header
        color color-black
        border-bottom 1px solid #ddd

    .footer, .header
        clearfix()
        padding 20px
        font-size 15px
        text-align center

    .footer
        background #333
        color color-white

        .section
            display inline-block
            margin 0 5px

    .score
        line-height 30px

    span
        color #aaa

    .button
        margin 0

    .sequence-display
        background transparent
        margin-bottom 0