.questions-tree
    debullet()
    text-align center

    .multiple-choice

        button
            border-radius(30px)
            width 400px
            max-width 100%
            display block
            margin 20px auto

            i
                font-size 70px
                margin -40px 10px -10px -30px
                position relative
                top 23px
                opacity .7

    .multiple-select
        width 900px
        max-width 100%
        margin auto

        i
            font-size 70px
            display block
            margin 20px

.questions-view
    padding 50px 0

    .sequence-display
        margin-bottom 50px

    @media (max-width: breakpoint-mobile)
        padding 0

        .sequence-display
            margin-bottom 10px

.capture-details
    width 400px
    max-width 100%
    margin auto

.icon-chili
    color color-red
    font-size 60px
    margin -60px 10px -10px -30px
    position relative
    top 19px

.splash
    
    h4
        color #666
        margin-bottom 70px